.sf-patient-exp-list li {
    display: none;
    }
    .sf-patient-exp-list li.active {
    display: block;
    animation: slideIn 1s ease-in-out;
    }
    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .card svg {
        height: 25px;
      }
      
      .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e7e7e7;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
        height: 50px;
        width: 200px;
      }
      
      .card::before, .card::after {
        position: absolute;
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        transition: 0.25s linear;
        z-index: 1;
      }
      
      .card::before {
        content: "";
        left: 0;
        justify-content: flex-end;
        background-color: #22D39F;
      }
      
      .card::after {
        content: "";
        right: 0;
        justify-content: flex-start;
        background-color: #22D39F;
      }
      
      .card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      
      .card:hover span {
        opacity: 0;
        z-index: -3;
      }
      
      .card:hover::before {
        opacity: 0.5;
        transform: translateY(-100%);
      }
      
      .card:hover::after {
        opacity: 0.5;
        transform: translateY(100%);
      }
      
      .card span {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: whitesmoke;
        font-family: 'Fira Mono', monospace;
        font-size: 24px;
        font-weight: 700;
        opacity: 1;
        transition: opacity 0.25s;
        z-index: 2;
      }
      
      .card .social-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100%;
        color: whitesmoke;
        font-size: 24px;
        text-decoration: none;
        transition: 0.25s;
      }
      
      .card .social-link svg {
        text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
        transform: scale(1);
      }
      
      .card .social-link:hover {
        background-color: rgba(249, 244, 255, 0.774);
        animation: bounce_613 0.4s linear;
      }
      
      @keyframes bounce_613 {
        40% {
          transform: scale(1.4);
        }
      
        60% {
          transform: scale(0.8);
        }
      
        80% {
          transform: scale(1.2);
        }
      
        100% {
          transform: scale(1);
        }
      }

a.video-link {
  display: inline-block;
  padding: 5px 5px;
  border: 2px solid gray;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

a.video-link:hover {
  background-color: #e9e9e9;
}




.shadow-effect {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
border:1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

#customers-testimonials .item {
  text-align: center;
  opacity: .2;
  width: 90%;
  margin: 0 auto;
  
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item aon-provi-video-box {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #22D39F;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #22D39F;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}